<div class="text-center">
    <h1 style="padding-bottom: 4vh">
        Donator Details
    </h1>
</div>
<div class="row show-hide message" ng-show="readdonaterequest.successMsg">
    <div class="alert alert-success">{{readdonaterequest.successMsg}}</div>
</div>
<div class="row show-hide message" ng-show="readdonaterequest.errorMsg">
    <div class="alert alert-danger">{{readdonaterequest.errorMsg}}</div>
</div>

<div style="border: 2px solid white;border-radius: 2em;padding-left: 2em;padding-top: 1em;">
    <div class="row">
        <div class="col-sm-8">
            <p style="color: white;font-size: 1.8em;"><b>Name</b>  :   {{readdonaterequest.name}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>Username</b> :   {{readdonaterequest.username}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>Email</b> :   {{readdonaterequest.email}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>Institute</b> :   {{readdonaterequest.institute}} </p>
            <button type="button" class="btn btn-primary" ng-click="readdonaterequest.accept(readdonaterequest.id);">Accept Request</button>
        </div>
        <div class="col-sm-4">
            <p style="color: white;font-size: 1.8em;"><b>Meal </b>  :   {{readdonaterequest.meal}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>People </b> :   {{readdonaterequest.people}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>City</b> :   {{readdonaterequest.city}} </p>
            <p style="color: white;font-size: 1.8em;"> <b>State</b> :   {{readdonaterequest.state}} </p>
        </div>
    </div>
</div>
