<div class="text-center">
    <h1 >
        Team
    </h1>


<div class="row" style="padding-top: 4vh;border: 2px solid white;border-radius: 4em;">
    <div class="col-sm-4" style="padding: 2em;">
        <img src="assets/images/team/donators.png" class="team-img">
        <a class="team-name" href="/donators">
            <button class="btn btn-success">Donators</button>
        </a>

    </div>
    <div class="col-sm-4" style="padding: 2em;">
        <img src="assets/images/team/receiver.png" class="team-img">
        <a class="team-name" href="/receivers">
            <button class="btn btn-success">Receivers</button>
        </a>
    </div>
    <div class="col-sm-4" style="padding: 2em;">
        <img src="assets/images/team/volunteer.png" class="team-img">
        <a class="team-name" href="/volunteers">
            <button class="btn btn-success">Volunteers</button>
        </a>
    </div>
</div>
</div>